/* Main */

#main {
    width: 600px;
}

#header .cell, #blogwiki-header, body.dashboard #main, #footer {
    width: 860px;
}

#header .cell, #blogwiki-header, #main, #footer {
    margin: 0 auto;
}

html, body, #page, #full-height-container, #main, #blogwiki-header {
    background-color: #FFFFFF;
}

body, p, td, table, th, .bodytext, .stepfield, .wiki-content, .wiki-content p, .wiki-content table, .wiki-content tr, .wiki-content td, .wiki-content th, .wiki-content ol, .wiki-content ul, .wiki-content li, h4.author {
    font-size: 13px;
}

#main {
    padding: 40px 0;
}


/* Header */

#header, #header-precursor, #header-precursor .cell {
    padding: 0 !important;
}

.contenteditor #header-precursor > div, .contenteditor #full-height-container > div, .contenteditor #header .cell {
    display: block !important;
}

#header {
    height: 38px;
}

#header .cell {
    padding: 0 30px !important;
}

#header-content-bar {
    float: none;
}

#header-content-bar, #header-menu-bar, #quick-search {
    padding: 7px 0 5px 0;
}

#header-content-bar li.ajs-button a, #header-content-bar li.ajs-menu-item a {
    line-height: 2em;
}

#header-content-bar .ajs-button a.share span {
    background-image: none;
}

#header-content-bar img {
    display: none;
}

#header-content-bar .ajs-button a span {
    background: none;
}

#blogwiki-header {
    height: 140px;
    border-bottom: 7px solid black;
}

#blogwiki-header .cell {
    top: 70px;
    position: relative;
}

#blogwiki-header-title {
    color: #222;
    font-size: 40px;
    text-decoration: none;
}

#blogwiki-nav {
    width: 480px;
    position: absolute;
    right: 0;
    bottom: 2px;
}

#blogwiki-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#blogwiki-nav li {
    display: inline-block;
    width: 117px;
    line-height: 2;
    margin-bottom: 4px;
}

#blogwiki-nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

#blogwiki-nav li a:hover, #blogwiki-nav li a.selected {
    background-color: #F0F0F0;
}

/* Dashboard */

div.dashboard .dashboard-group.left {
    width: 70%;
    padding-right: 40px;
}

div.dashboard .dashboard-group.right {
    width: 30%;
}

/* Dashboard Sidebar */

.spaceList .operations, .spaceList .tabs-menu {
    display: none;
}

.spaceList .tabs-pane {
    border: none;
    padding: 0;
}

.heatmap ul {
    background-color: inherit;
}

/* Content */

.wiki-content {
    margin: 30px 0 2em 0;
}

.page-metadata {
    font-size: 0.8em;
}

/* Blog posts */

a.blogHeading {
    font-size: 24px;
    text-decoration: none;
}

a.blogHeading:hover {
    text-decoration: none;
}

/* Bookmarks*/

.blogwiki-bookmark-content > div {
    display: none;
}

.blogwiki-bookmark-content div.mark {
    display: block;
}

.blogwiki-bookmark-content, .blogwiki-bookmark-content .wiki-content, .bookmarkContainer .wiki-content {
    margin: 0;
}

h1.blogwiki-bookmark-header {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
}

.bookmarkContainer a.title {
    text-decoration: none;
}

.bookmarkContainer .actionLinks {
    display: none;
}

.bookmarkContainer .endsection,
.bookmarkContainer .endsection span,
.bookmarkContainer .endsection a:link,
.bookmarkContainer .endsection a:active,
.bookmarkContainer .endsection a:hover,
.bookmarkContainer .endsection a:visited,
.bookmarkContainer .pagesubheading > div{
    font-size: 10px;
    color: #666;
}

.bookmarkContainer {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
}

div.mark {
    margin: 0 20px;
    padding: 0;
    background-color: inherit;
    border: none;
}

div.mark td {
    color: #666 !important;
}

div.mark .bookmarkIconCell {
    display: none;
}

div.mark img.bookmarkIcon {
    margin-top: 0;
}

/* Editor */

body.edit #main-header {
    display: none;
}

body.edit #rte-toolbar, body.edit #rte-savebar, body.edit #wysiwyg {
    border: 1px solid #BBB;
}

body.edit #content-title-div {
    width: 600px;
    padding: 10px 0;
}
